
<section class="hero is-fullheight-with-navbar" style="background-image: url('https://i.imgur.com/mYLGYi6.jpg'); background-size: cover; background-blend-mode: soft-light">
  <div class="columns">
  <div class="column is-4">
  <br><br><br><br><br><br><br><br><br>
  <div class="hero-body">
  <div class="container">
  <h1 class="title" style="color:white;"> Bienvenido a Sinauto </h1>
  <br>
  <p class="subtitle" style="color:white;"> Tienes que estar logeado para acceder a la aplicación </p>
  <bt>
  <%= link_to 'Iniciar sesión', '/login', :class => "button" %>
  <bt>
  <%= link_to 'Ver publicaciones sin iniciar sesión', '/publications/no_reg', :class => "button" %>

  </div>
  </div>
  </div>
  <div class="column is-3">
  </div>
  <div class="column is-4">
  <br><br>
  <h1 class="title" style="color:white; text-align: center;"> ¿Qué es Sinauto? </h1>
  <br>
  <div class="subtitle" style="color:white; text-align: justify;">
  Sinauto es una aplicación web que tiene como principal objetivo
  crear una red social destinada a la organización de turnos, para
  que así los estudiantes puedan llegar a su universidad de una manera
  mucho mas eficiente y económica. Esta app se basa en la creación de
  publicaciones en donde el usuario debe explicitar el origen, destino, 
  fecha y hora de partida, capacidad máxima, entre otros. <br><br>
  Dentro de una publicación, otro usuario puede enviar una solicitud
  con un breve comentario para generar un poco de flexibilidad en la 
  transferencia de información. El creador de la publicación tiene la 
  opción de aceptar o rechazar dicha solicitud. <br><br>
  Además, esta app ofrece un sistema de mensajería entre usuarios propensos 
  a irse juntos, en donde podrán coordinarse de mejor manera y evitar cualquier 
  tipo de falta de información. <br> <br>
  Esta aplicación web sigue en desarrollo, por lo que seguirán habiendo 
  constantes actualizaciones de diseño y software. Estamos ansiosos de ver 
  qué tan lejos llegará este proyecto. Para mas información visita nuestra FAQ.
  </div>
  </div>
  </div>
</section>