<div class="column is-4 is-offset-1">
<br>
<h1 class="title">Nueva solicitud</h1>

<div class="field">
<%= render 'form', solicitud: @solicitud %>
</div>
<%= link_to 'Back', '/publications', :class => "button is-info" %>
</div>